{% extends 'template.front.twig' %}

{% block title %}<title>Connexion</title>{% endblock %}

{% block content %}

    <div class="title-bloc-page">
        <h3><i class="fas fa-sign-in-alt"></i></h3>
    </div>

<div class="container container_connexion">

<form method="post" action="/signIn" id="bloc_connexion" class="mx-auto col-lg-4 col-sm-8 mt-5" autocomplete="off">
    <div class="form-group item">
        <input type="email" class="form-control form-control-lg" name="email" id="email" aria-describedby="emailHelp">
        <label for="email" class="ml-4 label_connexion">Email <span>*</span></label>
    </div>
    <div class="form-group item">
        <input type="password" class="form-control form-control-lg" name="password" id="password">
        <label for="password" class="ml-4">Password <span>*</span></label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg d-block mx-auto">Connexion</button>
</form>

{% if session.flash is defined %}
    <div id="flashMessage" class="bg-{{session.color}}">{{session.flash}}</div>
{% endif %}

</div>

{{flashMessage()}}

{% endblock %}