{% extends 'template.back.twig' %}

{% block title %}<title>Créer un article</title>{% endblock %}

{% block content %}

    <div class="container">

    {#-- NOTE Formulaire pour rajouter un article --#}
    <form method="post" id="form-article" action="?p=addArticle" class="col-md-8 mx-auto mt-5" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titre de l'aricle</label>
            <input type="text" class="form-control" name="title" id="title-back" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <textarea name="content" id="content" rows="10"></textarea>
        </div>
        <div class="form-group upload-image">
            <label for="pictureUrl" class="label-picture">Choissisez une image</label>
            <input type="file" class="form-control-file img-post" id="pictureUrl" name="pictureUrl">
        </div>
        <div class="w-100 my-4">
            <div class="row no-gutters">
                <div class="">
                    <img id="preview" class="preview" src=""/>
                </div>
                <div class="">
                    <img id="preview_crop" name="crop_image" src=""/>
                </div>
            </div>
        </div>
        <a id="crop_image" class="btn btn-outline-danger btn-lg" >Crop</a>
        <button type="submit" class="btn btn-primary btn-lg d-block mx-auto mt-4 rounded-pill">Valider</button>
    </form>
    {#-- Fin du formulaire --#}

    {#-- NOTE Message de retour --#}
    {% if session.returnMessage is not empty %}
        <div class="col-8 mt-5 mx-auto text-center alert alert-{{session.colorMessage}}" role="alert">
            {{session.returnMessage}}
        </div>
    {% endif %}
    {#-- Fin du message de retour --#}

    {#-- NOTE Modal --#}
    <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="img_demo" class="col-md-8" style="width:350px"></div>
            <div class="col-md-4">
            <button class="btn btn-outline-success crop_image">Crop & upload</button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    {#-- Fin modal --#}

    </div>

{% endblock %}


