{% extends 'template.back.twig' %}

{% block content %}

    <div class="container">

    <form method="post" action="?p=addArticle" class="col-md-8 mx-auto mt-5" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titre de l'aricle</label>
            <input type="text" class="form-control" name="title" id="title-back" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <textarea class="form-control" name="content" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="pictureUrl">Choissisez une image</label>
            <input type="file" class="form-control-file" id="pictureUrl" name="pictureUrl">
        </div>
        <button type="submit" class="btn btn-primary btn-lg d-block mx-auto mt-4 rounded-pill">Valider</button>
    </form>

    {# MESSAGE DE RETOUR #}
    {% if session.returnMessage is not empty %}
        <div class="col-8 mt-5 mx-auto text-center alert alert-{{session.colorMessage}}" role="alert">
            {{session.returnMessage}}
        </div>
    {% endif %}

    </div>

{% endblock %}
