<div class="container-footer">

    <div class="row no-gutters p-4">
        <div class="item-media-footer p-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-google-wallet"></i></a>
        </div>
        <div class="item-link-footer p-4 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
            <a href="">Accueil</a>
            <a href="">A propos</a>
            <a href="">Contact</a>
            <a href="">Mentions Légales</a>
        </div>
    </div>
    <div class="copyright p-2 text-center">Copyright &copy Jean Forteroche 2020</div>

</div>