<button id="hamburger-back" class="hamburger hamburger--elastic" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
</button>

<nav id="navbar-back">
    <div class="navbar-back-container">
        <div class="items-nav-back">
            <a class="nav-back-link" href="/home/1"><i class="fas fa-home"></i> Accueil</a>
            <a class="nav-back-link" href="/homeBack/1"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            <a class="nav-back-link" href="/viewAddArticle"><i class="fas fa-pencil-alt"></i> Créer un article</a>
            {% if reportComment is defined %}
            <a class="nav-back-link" href="/viewReportComment"><i class="far fa-bell"></i> Modérations <span>{{ reportComment|length }}</span></a>
            {% endif %}
        </div>
        <div class="items-infos-navbar">
            <div class="infos-back-publications">
            {% if articles is defined %}
                <p><span>{{ articles|length }}</span> Publications</p>
            {% endif %}
            {% if comments is defined %}
                <p><span>{{ comments|length }}</span> Commentaires</p>
            {% endif %}
            {% if users|length != 0 %}
                <p><span>{{ users|length }}</span> Utilisateurs</p>
            {% endif %}
            </div>
        </div>
    </div>
</nav>