<div class="hero">
    <img class="img-hero" src="/images/header_modif.jpg"/>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="shape-svg_1">
        <path  fill-opacity="1" d="M0,32L240,288L480,192L720,256L960,224L1200,288L1440,160L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z"></path>
    </svg>
    <p class="title_header">Un dernier billet pour l'alaska</p>
</div>