{% extends 'template.back.twig' %}

{% block title %}<title>Tabeau de bord</title>{% endblock %}

{% block content %}

    <div class="container">

        <div class="row mt-5">

            <div class="col-md-5 bg-danger">
            <h5 class="display-3">{{ articles|length }}</h5>
            <p class="justify-self-end"> nombres d'articles</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 bg-danger">
            <h5>Nombres d'articles : </h5>
            </div>

        </div>

        {% for article in articles %}

            <h4><a href="?p=articleBack&id={{article.id}}">{{ article.title }}</a></h4>
            <p>{{ article.content|u.truncate(400, '...') }}</p>

        {% endfor %}

    </div>

{% endblock %}