{% extends 'template.front.twig' %}

{% block title %}<title>Accueil</title>{% endblock %}

{% block content %}

    <div class="container text-center p-4">

        <h1>Publications</h1>

    {% for article in articles %}

    <h2>{{ article.title }}</h2>
    <p class="text-justify">{{ article.content }}</p>
    <img src="/images/{{ article.pictureUrl }}" width="400px" height="200px"/>

    {% endfor %}

    </div>

{% endblock %}