    <button id="hamburger" class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="nav-menu" id="menu-sidebar">
        <div class="menu-title">
            <a id="_t1" href="?p=home">Home</a>
            <a id="_t2" href="?p=connexion">Login</a>
            <a id="_t3" href="?p=inscription">Signin</a>
            {% if session.logged == true %}
            <a id="_t4" href="?p=logout">Logout</a>
            {% endif %}
            {% if session.admin == 1 %}
            <a id="_t5" href="?p=homeBack">Dashboard</a>
            {% endif %}
        </div>
    </div>